.chart-wrapper
    margin 1.5em 0

    .chart-visual,
    .chart-text
        display inline-block
        vertical-align middle

    .chart-visual
        padding-right 1em
    
    .chart-text
        padding-left 1em